/* #Containers
--------------------------------------------------------------- */
.container {
    max-width: 720px;
    position: relative;
    margin: 0 auto;
    padding-right: 2em;
    padding-left: 2em;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Small */
@media screen and (min-width: 992px) {
    .container-sm {
        max-width: 1000px;
    }
}

/* Large */
@media screen and (min-width: 992px) {
    .container-lg {
        max-width: 1050px;
    }
}

@media screen and (min-width: 1200px) {
    .container-lg {
        max-width: 1450px;
    }
}

@media screen and (min-width: 1920px) {
    .container-lg {
        max-width: 1712px;
    }
}

/* Full */
.container-full {
    max-width: unset;
}