/* #Footer
--------------------------------------------------------------- */
#footer {
    position: relative;
}

#footer a:not(.btn) {
    text-decoration: none;
}

/* Pre Footer */
#pre-footer {
    padding: var(--spacing-section-outer) 0;
    position: relative;
    box-sizing: border-box;
    font-family: var(--bold);
    color: var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000055;
    background-blend-mode: darken;
}

#pre-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-section-inner);
}

/* Main Footer */
#main-footer {
    padding: var(--spacing-section-outer) 0;
    font-family: var(--bold);
    font-size: 0.875em;
    color: var(--white);
    background-color: var(--primary);
}

#main-footer .cols-wrapper {
    align-items: flex-start;
}

#main-footer .col {
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}

#main-footer .description p {
    color: var(--white);
    font-size: 1.25em;
}

#main-footer .addresses {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main-footer .addresses a,
#main-footer .addresses span {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
}

#main-footer .address svg {
    width: 100%;
    max-width: 16px;
    height: auto;
    max-height: 16px;
    stroke: var(--white);
}

@media screen and (min-width: 1200px) {
    #main-footer .col:nth-child(2) .title {
        text-align: center;
    }
}

#main-footer .btn-wrapper {
    flex-direction: column;
}

/* Sub Footer */
#sub-footer {
    padding: 24px 0;
    font-family: var(--bold);
    font-size: 0.875em;
    background-color: var(--primary-dark);
}

#sub-footer>.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #sub-footer>.container {
        flex-direction: row;
    }
}

#sub-footer a {
    color: var(--white);

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

#sub-footer .menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #sub-footer .menu-footer {
        justify-content: unset;
        gap: unset;
    }
}

#sub-footer .menu-footer span {
    color: var(--primary);
}

#sub-footer .menu-footer>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 1200px) {
    #sub-footer .menu-footer>ul {
        flex-direction: row;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 2.5rem;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    #sub-footer .menu-footer li:before {
        content: "|";
        margin: 0 0.35em;
        color: var(--primary);
    }
}

.dyslexic-toggle {
    font-family: 'OpenDyslexic', sans-serif;
}

.dyslexic-toggle label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--white);
    cursor: pointer;

    &:before {
        content: "";
        width: 14px;
        height: 14px;
        display: inline-block;
        background-color: transparent;
        border: 2px solid var(--white);
        border-radius: 50%;
        transition: background-color ease 250ms;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.dyslexic-toggle input:checked+label:before {
    background-color: var(--white);
}

.dyslexic-toggle input:focus+label {
    outline: dashed 1px var(--white);
    outline-offset: 6px;
}