/* #Header
--------------------------------------------------------------- */
body.js-menuOpened {
    overflow: hidden;
}

#header {
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    font-family: var(--bold);
    background-color: var(--white);
    z-index: 99;

    .admin-bar & {
        top: var(--wp-admin--admin-bar--height);
    }
}

@media screen and (min-width: 1200px) {
    #header {
        padding: 0;
    }
}

#header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#header .nav-wrapper {
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 2em;
    box-sizing: border-box;
    position: fixed;
    top: var(--header-height);
    right: 0;
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    background-color: var(--white);
    transform: translateX(100%);
    transition: transform ease 250ms;

    .js-menuOpened & {
        transform: translateX(0);
    }
}

@media screen and (min-width: 1200px) {
    #header .nav-wrapper {
        width: unset;
        height: auto !important;
        padding: 0;
        position: unset;
        top: unset;
        right: unset;
        flex-direction: row;
        align-items: center;
        transform: translateX(0);
    }
}

#header .logo-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-style: italic;
    transition: color ease 250ms;

    &:after {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        background-color: var(--black);
        transform: translateY(-3px);
        transition: background-color ease 250ms;
    }

    &:hover,
    &:focus {
        color: var(--primary);

        &:after {
            background-color: var(--primary);
        }
    }
}

#header .custom-logo {
    width: 100%;
    max-width: 170px;
    height: auto;
    display: block;
}

.menu-header {
    display: flex;
    align-items: stretch;
    gap: 2rem;
    flex-direction: column;
    background-color: unset;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opacity ease 250ms;
}

@media screen and (min-width: 1200px) {
    .menu-header {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        overflow: unset;
    }
}

.menu-header li.menu-item-has-children {
    position: relative;
    cursor: pointer;
}

.menu-header li a {
    width: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: var(--content-color);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 250ms;
}

@media screen and (min-width: 1200px) {
    .menu-header li a {
        padding: 2rem 0;
    }
}

.menu-header li a:hover,
.menu-header li:focus-within>a,
.menu-header li.menu-item-has-children:hover>a {
    color: var(--primary);
}

.menu-header>li>a:before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -5px;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: var(--content-color);
    transition: transform ease 250ms, background-color ease 250ms;
}

@media screen and (min-width: 1200px) {
    .menu-header>li>a:before {
        bottom: 0;
    }
}

.menu-header>li>a:hover:before,
.menu-header>li:focus-within>a:before {
    background-color: var(--primary);
    transform: scaleY(1);
}

.menu-header li.menu-item-has-children>a:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    background-image: url(../../medias/icons/chevron-right.svg);
    rotate: 0deg;
    transition: rotate ease 250ms, filter ease 250ms;
}

.menu-header li.menu-item-has-children>a:hover:after,
.menu-header li.menu-item-has-children:hover>a:after,
.menu-header li.menu-item-has-children:focus-within>a:after {
    rotate: 90deg;
    filter: var(--primary-filter);
}

.menu-header li.menu-item-has-children>ul.sub-menu {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    flex-direction: column;
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 1200px) {
    .menu-header li.menu-item-has-children>ul.sub-menu {
        min-width: 12rem;
        padding: 2rem;
        position: absolute;
        left: -2rem;
        gap: 1rem;
        background-color: var(--white);
        border-radius: var(--border-radius);
    }
}

.menu-header li.menu-item-has-children:focus-within>ul.sub-menu,
.menu-header li.menu-item-has-children.active>ul.sub-menu {
    display: flex;
    visibility: initial;
}

@media screen and (min-width: 1200px) {
    .menu-header li.menu-item-has-children:hover>ul.sub-menu {
        display: flex;
        visibility: initial;
    }
}

.menu-header li.menu-item-has-children>ul.sub-menu a {
    padding: 0;
}

/* Toggle */
.menu-toggle-col {
    width: 30px;
    transition: opacity ease 250ms;
}

@media screen and (min-width: 1200px) {
    .menu-toggle-col {
        display: none;
    }
}

.menu-toggle-wrapper {
    position: relative;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;

    &:focus+div {
        outline: dashed 1px var(--secondary);
        outline-offset: 6px;
    }
}

.menu-toggle-open {
    max-width: 30px;
    height: 30px;
    pointer-events: none;
}

.menu-toggle-open>span {
    margin-top: 13px;

    .js-menuOpened & {
        background-color: transparent;
    }
}

.menu-toggle-open>span,
.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 30px;
    height: 2px;
    position: absolute;
    display: block;
    background-color: var(--black);
}

.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 20px;
    right: 0;
}

.menu-toggle-open>span:before {
    content: "";
    margin-top: -13px;
    transition: width ease 250ms;
}

.js-menuOpened .menu-toggle-open>span:before {
    rotate: -45deg;
}

.menu-toggle-open>span:after {
    content: "";
    margin-top: 13px;
    transition: width ease 250ms 90ms;
}

.js-menuOpened .menu-toggle-open>span:after {
    rotate: 45deg;
}

.js-menuOpened .menu-toggle-open>span:before,
.js-menuOpened .menu-toggle-open>span:after {
    width: 36px !important;
    transform-origin: right;
}

.menu-toggle-wrapper:hover .menu-toggle-open>span:before,
.menu-toggle-wrapper:focus .menu-toggle-open>span:before,
.menu-toggle-wrapper:hover .menu-toggle-open>span:after,
.menu-toggle-wrapper:focus .menu-toggle-open>span:after {
    width: 30px;
}